body {
    margin: 0;
    background-color:rgb(51, 59, 66);
    height: 100vh;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#header div {
    font-size: 2em;
    color: white;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    margin-left: -5%;
}

#menu {
    border: 1px solid white;
    height: 300px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    border: solid rgb(92, 92, 92) 1px;
    background-color:transparent;
    color: white;
}

#container {
    border: solid white 1px;
    display: grid;
    height: 500px;
    width: 500px;
}

#container div {
    border: solid rgb(37, 43, 48) 1px;
    box-sizing: border-box;
}